<% content_for :title do %>Tạo Thuộc Tính Mới<% end %>
<% content_for :page_title do %><a href="<%= erp_products.backend_properties_path %>"><i class="fa fa-gg"></i> Danh Sách Thuộc Tính</a> / Tạo Thuộc Tính Mới<% end %>
<% content_for :page_toolbar do %><div class="btn-group"><div class="clearfix"></div></div><% end %>
<div class="row"><div class="col-md-6"><% if @property.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', property: @property %></div></div>