<% content_for :title do %>Danh Sách Sản Phẩm<% end %>
<% content_for :page_title do %><i class="fa fa-th"></i> Danh Sách Sản Phẩm<% end %>
<% content_for :page_toolbar do %><%= erp_component('button/create', {text: 'Tạo sản phẩm mới', href: erp_products.new_backend_product_path, class: 'btn-noborder'}) %><% end %>
<% content_for :global_filter do %>
    <div class="row top-datalist">
        <div class="col-md-6"><%= erp_form_control('dataselect', {name: 'categories', label: 'Chuyên Mục Sản Phẩm', placeholder: 'Chọn chuyên mục sản phẩm phù hợp...', url: erp_products.dataselect_backend_categories_path(format: 'json'), multiple: true}) %></div>
        <div class="col-md-6"><%= erp_form_control('dataselect', {name: 'brands', label: 'Thương Hiệu Sản Phẩm', placeholder: 'Chọn thương hiệu sản phẩm phù hợp...', url: erp_products.dataselect_backend_brands_path(format: 'json'), multiple: true}) %></div>
    </div>
<% end %>
<%
    actions = []
    actions << {text: '<i class="fa fa-eye-slash"></i> Ẩn sản phẩm được chọn'.html_safe, url: erp_products.archive_backend_products_path, data_method: 'PUT', data_confirm: 'Bạn có chắc chắn muốn ẩn những sản phẩm này không?'}
    actions << {text: '<i class="fa fa-eye"></i> Hiện sản phẩm được chọn'.html_safe, url: erp_products.unarchive_backend_products_path, data_method: 'PUT', data_confirm: 'Bạn có chắc chắn muốn hiện những sản phẩm này không?'}
    actions << {divider: true}
    actions << {text: '<i class="fa fa-plus"></i> Thêm vào danh sách "Bán Chạy"'.html_safe, url: erp_products.check_is_bestseller_backend_products_path, data_method: 'PUT', data_confirm: 'Bạn có chắc chắn muốn thêm những sản phẩm này vào danh sách "Bán Chạy" không?'}
    actions << {text: '<i class="fa fa-minus"></i> Xóa khỏi danh sách "Bán Chạy"'.html_safe, url: erp_products.uncheck_is_bestseller_backend_products_path, data_method: 'PUT', data_confirm: 'Bạn có chắc chắn muốn xóa những sản phẩm này khỏi danh sách "Bán Chạy" không?'}
    actions << {divider: true}
    actions << {text: '<i class="fa fa-plus"></i> Thêm vào danh sách "Gọi Hỏi Hàng"'.html_safe, url: erp_products.check_is_call_backend_products_path, data_method: 'PUT', data_confirm: 'Bạn có chắc chắn muốn thêm những sản phẩm này vào danh sách "Gọi Hỏi Hàng" không?'}
    actions << {text: '<i class="fa fa-minus"></i> Xóa khỏi danh sách "Gọi Hỏi Hàng"'.html_safe, url: erp_products.uncheck_is_call_backend_products_path, data_method: 'PUT', data_confirm: 'Bạn có chắc chắn muốn xóa những sản phẩm này khỏi danh sách "Gọi Hỏi Hàng" không?'}
    actions << {divider: true}
    actions << {text: '<i class="fa fa-plus"></i> Thêm vào danh sách "Hết Hàng"'.html_safe, url: erp_products.check_is_sold_out_backend_products_path, data_method: 'PUT', data_confirm: 'Bạn có chắc chắn muốn thêm những sản phẩm này vào danh sách "Hết Hàng" không?'}
    actions << {text: '<i class="fa fa-minus"></i> Xóa khỏi danh sách "Hết Hàng"'.html_safe, url: erp_products.uncheck_is_sold_out_backend_products_path, data_method: 'PUT', data_confirm: 'Bạn có chắc chắn muốn xóa những sản phẩm này khỏi danh sách "Hết Hàng" không?'}
    actions << {divider: true}
    actions << {text: '<i class="fa fa-trash"></i> Xóa sản phẩm được chọn'.html_safe, url: erp_products.delete_all_backend_products_path, data_method: 'DELETE', data_confirm: 'Bạn có chắc chắn muốn xóa những sản phẩm này không?'}
%>
<%= erp_datalist(
    url: erp_products.list_backend_products_path,
    sortable: true,
    actions: actions,
    keywords: [{text: 'Tên sản phẩm', name: 'erp_products_products.name'}],
    filters: [
        {text: 'Sản phẩm "Đang Ẩn"', name: 'show_archived', value: true, checked: false},
        {text: 'Sản phẩm "Mới"', name: 'erp_products_products.is_new', value: true, checked: false},
        {text: 'Sản phẩm "Bán Chạy"', name: 'erp_products_products.is_bestseller', value: true, checked: false},
        {text: 'Sản phẩm "Gọi Hỏi Hàng"', name: 'erp_products_products.is_call', value: true, checked: false},
        {text: 'Sản phẩm "Hết Hàng"', name: 'erp_products_products.is_sold_out', value: true, checked: false}
    ],
    columns: [
        {text: 'Chuyên mục', name: 'category', value: true, checked: true},
        {text: 'Thương hiệu', name: 'brand', value: true, checked: true},
        {text: 'Mã hàng', name: 'code', value: true, checked: true},
        {text: 'Tên sản phẩm', name: 'name', value: true, checked: true},
        {text: 'Giá', name: 'price', value: true, checked: true},
        {text: 'Trạng thái', name: 'status', value: true, checked: true},
        {text: 'Người tạo', name: 'creator', value: true, checked: false},
        {text: 'Ngày tạo', name: 'created', value: true, checked: false}
    ],
    sort: {sort_by: 'erp_products_products.created_at', sort_direction: 'desc'}
) %>