<% content_for :title do %>Tạo Sản Phẩm Mới<% end %>
<% content_for :page_title do %><%= link_to '<i class="fa fa-th"></i> Danh Sách Sản Phẩm'.html_safe, erp_products.backend_products_path %> / Tạo Sản Phẩm Mới<% end %>
<% content_for :page_toolbar do %><div class="btn-group"><div class="clearfix"></div></div><% end %>
<div class="row"><div class="col-md-12"><% if @product.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', product: @product %></div></div>