<% content_for :title do %>Tạo Nhóm Phụ Kiện Mới<% end %>
<% content_for :page_title do %><%= link_to '<i class="fa fa-th"></i> Danh Sách Nhóm Phụ Kiện'.html_safe, erp_products.backend_accessories_path %> / Tạo Nhóm Phụ Kiện Mới<% end %>
<% content_for :page_toolbar do %><div class="btn-group"><div class="clearfix"></div></div><% end %>
<div class="row"><div class="col-md-12"><% if @accessory.errors.any? %><%= erp_form_control('form_error_message') %><% end %><%= render 'form', accessory: @accessory %></div></div>